<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{ site.data.content.footer.useful_links.title }}</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{ '/team' | relative_url}}">O nas</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="http://www.diversityhub.pl" target="_blank">Diversity Hub</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{ '/privacy' | relative_url}}">Polityka prywatności</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>{{ site.data.content.footer.contact.title }}</h4>
          <p>
            {% for line in site.data.content.footer.contact.address %}
              {{ line }}<br>
            {% endfor %}
            <strong>Tel:</strong> {{ site.data.content.footer.contact.phone }}<br>
            <strong>Email:</strong> {{ site.data.content.footer.contact.email }}<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <img src="assets/img/puap_logo_czarne.jpg" class="logo-image">
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <img src="assets/img/logo_ue_czarne.jpg" class="logo-image">
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <!-- &copy; Copyright <strong></strong>. All Rights Reserved -->
    </div>

  </div>
</footer><!-- #footer -->
