<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Przydatne linki</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="{{ site.base_url }}">Główna</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">O nas</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Warunku korzystania z serwisu (?)</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Polityka prywatności (?)</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Dane kontatktowe</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <img src="assets/img/puap_logo_czarne.jpg" class="logo-image">
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <img src="assets/img/logo_ue_czarne.jpg" class="logo-image">
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <!-- &copy; Copyright <strong></strong>. All Rights Reserved -->
    </div>

  </div>
</footer><!-- #footer -->
