---
layout: default
header_class: always-with-background
---

{% include header.html %}

<main id="main">
  <section id="services" class="markdown-content">
    <div class="container">
      {{ content }}
    </div>
  </section>

  <section id="eu_logos" class="wow fadeInDown">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-4 offset-lg-2">
            <img src="assets/img/logo_ue.jpg" alt="Logo Unii Europejskiej, EU LOGO">
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="assets/img/logo_FE_Wiedza_Edukacja_Rozwoj_rgb-1.jpg" alt="Logo funduszy europejskich">
        </div>
      </div>
    </div>
  </section>
</main>

{% include footer.html %}
